.allRights{
    .line-container{
        padding: 0 5.5rem;
        .footer-line {
            //Probably needs to be done another way
            height: 0.1rem;
            width: 200rem;
            background-color:  #bdbdbd;
        }
    }
    .rights{
        padding: 0 7.5rem;
        display:flex;
        justify-content: space-between;
        p{
            width: 32.9rem;
            height: 4.9rem;
            font-family: Ubuntu;
            font-size: 1.4rem;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: 0.42px;
            color: #767676;
        }

        .left{
            text-align: left;
        }

        .right{
            text-align: right;
        }
    }

}