.footer {
    display:flex;
    justify-content: space-between;
    margin-top: 4.2rem;
    padding: 0 7.5rem;
    .rolling-games-logo path{
        fill: #0456a1;
        //stroke: #0456a1
    }

    .social-media{

        .rolling-logo {
            margin-bottom: 4.5rem;
        }

        .social-links{
            display:flex;
            margin-bottom: 4.5rem;

            .social-icon {
                height: 3rem;
                width: 3rem;
                margin-right: 2.6rem;
            }
        }

        p{
            width: 246px;
            height: 56px;
            font-family: GothamPro;
            font-size: 14px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: 0.42px;
            text-align: left;
            color: #767676;
        }
    }

    .quick-links{
        .quick-link {
            width: 76px;
            height: 28px;
            font-family: GothamPro;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: 0.28px;
            text-align: left;
            color: var(--camo-green);
        }
    }


    .game-link {
        display:flex;
        justify-content: space-between;
    }
}

