.arrow {
	position: absolute;
	top: 50%;
	border-right: 0.3rem solid;
	border-bottom: 0.3rem solid;
	border-color: $white;
	height: 1.6rem;
	width: 1.6rem;

	cursor: pointer;
	transition: transform ease-in 0.1s;
	&--right {
		right: 4.5rem;
		transform: rotate(-45deg);
	}
	&--left {
		left: 4.5rem;
		transform: rotate(135deg);
	}
	// &:hover {
	// 	transform: scale(1.1);
	// }
	// img {
	// 	transform: translateX(${direction === 'left' ? '-2': '2'}px);
	// 	&:focus {
	// 		outline: 0;
	// 	}
	// }
}
