
	.last-games__wrapper {
		height: 80vh;
		display: flex;
		justify-content: center;
		align-items: center;
		@include respond(phone) {
			flex-direction: column;
		}
	}


.dashboard__container {
	width: 80rem;
	height: 45rem;
	box-shadow: 0 1rem 8rem 0 rgba(0, 0, 0, 0.06);
	border-radius: 5rem;
	background-color: $white;
	display: flex;
}


